@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');

// colors
$very-dark-gray: hsl(0, 0%, 17%);
$dark-gray: hsl(0, 0%, 59%);
$blue: hsl(228, 45%, 44%);
$white: #fff;

//screen size
$desktop: 1140px;
$mobile: 375px;

// font weights
$font-weights: (
    'regular' : 400,
    'medium' : 500,
    'bold' : 700
);


// font sizes

