@import 'resets';
@import 'variables';
@import 'mixins';

@function weight($weight-name){
    @return map-get($font-weights, $weight-name);
}

* {
    box-sizing: border-box;
}

html,
body,
.container{
    height: 100%;
}

body{
    font-family: 'Rubik', sans-serif;
}

.attribution {
    @include font-size(11px);
    // font-size: 11px;
    text-align: center; 

    a{
        color: $blue; 
    }
}


.upper-container{
    background-image: url("../../images/pattern-bg.png");
    height: 17rem;
    padding: 1.5rem 2.5rem;

    .page-title{
        text-align: center;
        font-size: 24px;
        color: $white;
        font-weight: weight(medium);
    }
}

.form-container{

    display: flex;
    justify-content: center;
    margin: 1rem 0 1rem 0;

    .search-input{
        padding: 0.8rem 1rem;
        border: none;
        border-radius: 0.7rem 0 0 0.7rem;
        width: 20rem;
    }
    
    .search-btn{
        padding: 0.8rem 1rem;
        border-radius: 0 0.7rem 0.7rem 0;
        border: none;
        background: $very-dark-gray;

        img{
            width: 0.5rem;
        }
    }

    .search-input:hover,
    .search-btn:hover{
        cursor: pointer;
    }
}
.error-cont{
    background: $danger-light;
    height: 1rem;
    margin-bottom: 1rem;
    
    margin-left: auto;
    margin-right: auto;
    height: auto;
    padding: 0.5rem;
    border-left: 7px solid $danger;
    visibility: hidden;

    p{
        text-align: center;
        color: $danger;
    }
}

.input-err{
    border: 1px solid $danger !important;
}

.info-container{
    background: $white;
    border-radius: 0.7rem;
    padding: 0.5rem;
    height: auto;
    width: 80%;
    margin: auto;
    z-index: 999;
    position: absolute;
    left: 0;
    right: 0;

    display: flex;
    flex-direction: column;

    .column{
        width: 100%;
        padding: 0.5rem;
        text-align: center;
    }

    .info-title{
        color: $dark-gray;
        text-transform: uppercase;
        font-weight: weight(bold);
        margin-bottom: 0.5rem;
        font-size: 0.7rem;
    }

    .info-detail{
        font-size: 1.3rem;
        font-weight: weight(medium);
    }

}

.map-container{
    background: $white;
    height: calc(100% - 17rem);

    #mapCont{
        width: 100%;
        height: calc(100% - 17rem); 
        position: absolute;
    }
}

@media (min-width: $desktop){

    .upper-container{
        padding: 1.5rem 5rem;
        height: 14.5rem;
    }
    .map-container{
        height: calc(100% - 14.5rem);

        #mapCont{
            height: calc(100% - 14.5rem);
        }
    }
    .info-container{
        flex-direction: row;
        padding: 1rem;

        .column{
            width: 25%;
            text-align: left;
            padding: 1rem;
            border-right: 1px solid $light-gray;
        }
        .column:last-child{
            border: none;
        }

        .info-detail{
            font-size: 1.5rem;
        }
    }
    .error-cont{
        width: 22rem;
    }
}